footer {
  background-color: #060612;
  padding-top: 0;
  height: auto;
  padding-bottom: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    span {
      color: #f4f4f4;
      font-size: 1.5rem;
    }
    .text-bold {
      font-weight: 700;
      padding-right: .25rem;
    }
  }
  nav {
    padding: 3rem 0;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(0px);
      width: 30%;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
      background-repeat: no-repeat;
      z-index: 2;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-100%);
      width: 30%;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
      background-repeat: no-repeat;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        padding-right: 1rem;
        a {
          text-decoration: none;
          color: #ababab;
        }
        &:hover {
          transform: scale(1.05);
          a {
            color: #f4f4f4;
          }
        }
      }
    }
  }
  .bottom-footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 5rem;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-0px);
      width: 30%;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
      background-repeat: no-repeat;
      z-index: 2;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-100%);
      width: 30%;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
      background-repeat: no-repeat;
    }
    .copyright {
      color: #f4f4f4;
      flex: 1;
      margin: auto;
    }
    .social-media {
      flex: 1;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
          padding-right: 1rem;
        }
      }
    }
    .downloads {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        color: #f4f4f4;
      }
    }
  }
}