section {
  padding: 10rem 0;
  height: 100vh;
  box-sizing: border-box;
  @include mobile {
    padding: 5rem 0;
    height: 80vh;
  }
}

#hero {
  background-color: #2e2f41;
  overflow: hidden;
  position: relative;
  .code-deco {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    padding-left: 5px;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .heading {
      display: flex;
      justify-content: center;
      h1 {
        text-align: center;
        font-size: 5rem;
        padding: 0 2rem;
        color: #f4f4f4;
        @include mobile {
          font-size: 2.5rem;
          padding: 0;
        }
      }
    }

    .action-buttons {
      @include mobile {
        flex-wrap: wrap;
      }

      button {
        border: thin solid #f4f4f4;
        background-color: transparent;
        padding: 1rem 2rem;
        margin-right: 2rem;
        font-weight: 700;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        @include mobile {
          width: 100%;
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }

      .first::before {
        content: "";
        position: absolute;
        width: 110%;
        height: 300%;
        background-color: #f4f4f4;
        transform: rotate(20deg);
        top: -120%;
        left: 0%;
        z-index: -1;
        animation: button_overlay_clear 0.3s 1;
        @include mobile {
          height: 333%;
        }
      }

      .first:hover {
        color: #f4f4f4;
        transition: animation 1s ease-in-out;
      }
  
      button.first:hover::before {
        animation: button_overlay 0.5s 1;
        top: -120%;
        left: -120%;
        transition: animation 1s ease-in-out;
      }

      .second {
        color: #f4f4f4;
      }

      .second::before {
        content: "";
        position: absolute;
        width: 110%;
        height: 300%;
        background-color: #f4f4f4;
        transform: rotate(20deg);
        top: -120%;
        left: -120%;
        z-index: -1;
        animation: button_two_overlay_clear 0.3s 1;
        @include mobile {
          height: 333%;
        }
      }

      .second:hover {
        color: #2e2f41;
        transition: animation 1s ease-in-out;
      }

      button.second:hover::before {
        animation: button_two_overlay 0.5s 1;
        top: -120%;
        left: 0%;
        transition: animation 1s ease-in-out;
      }
  
      @keyframes button_overlay_clear {
        from {
          left: -120%;
        }
        to {
          left: -0%;
        }
      }
  
      @keyframes button_overlay {
        from {
          left: -0%;
        }
        to {
          left: -120%;
        }
      }

      @keyframes button_two_overlay_clear {
        from {
          left: 0%;
        }
        to {
          left: -120%;
        }
      }
  
      @keyframes button_two_overlay {
        from {
          left: -120%;
        }
        to {
          left: 0%;
        }
      }
    }
  }
}

#about {
  background-color: #060612;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .illustration, .about-text {
    flex: 1;
    @include mobile {
      width: 100%;
      flex: auto;
    }
  }
  .illustration {
    @include mobile {
      width: 100%;
      order: 2;
      display: flex;
      justify-content: center;
      svg {
        width: 200px;
        height: auto;
      }
    }
  }
  .about-text {
    margin: auto 0;
    text-align: center;
    .badge {
      display: inline-block;
      border: thin solid #BA68C8;
      padding: .25rem 1rem;
      background-color: rgba($color: #BA68C8, $alpha: .15);
      border-radius: 1rem;
      color: #BA68C8;
    }
    .text {
      width: 100%;
    }
    h2, p {
      color: #f4f4f4;
    }
    h2 {
      font-size: 4rem;
      margin: 0;
      @include mobile {
        font-size: 2.5rem;
      }
    }
    p {
      font-size: .75rem;
      @include mobile {
        font-size: .5rem;
      }
    }
  }
}

#work {
  background-color: #2e2f41;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: auto;
  overflow: hidden;
  .container {
    position: relative;
  }
  .work-text {
    display: flex;
    flex-wrap: wrap;
    .badge {
      display: flex;
      margin: 0 auto;
      border: thin solid #6919FF;
      padding: .25rem 1rem;
      background-color: rgba($color: #100B30, $alpha: .15);
      border-radius: 1rem;
      color: #6919FF;
      font-weight: 600;
    }
    .text {
      width: 100%;
      h2 {
        color: #f4f4f4;
        text-align: center;
        font-size: 4rem;
        margin: 0;
        @include mobile {
          font-size: 2.5rem;
          padding: 0 .125rem;
        }
      }
    }
    .select-filter {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      select {
        background-image: radial-gradient(circle at 50% 100%, #070B1A 1%, #181E31);
        padding: .5rem;
        min-width: 20rem;
        border-radius: 1px;
        border-color: #2e2f41;
        color: #f4f4f4;
        outline: none;
      }
      option {
        background-color: #06091899;
      }
    }
  }
  .work-carousel {
    padding-top: 2rem;
    .carousel {
      position: relative;
      left: 50%;
      margin-left: -100%;
      padding: 1rem 0;
    }
    .wrapper {
      display: flex;
      transition: all .3s ease-in-out;
      padding: 1rem 0;
    }
    .carousel-card {
      box-sizing: border-box;
      border-width: .5rem;
      border-color: #b0b3e4;
      position: relative;
      width: 400px;
      height: 600px;
      overflow: hidden;
      border-radius: .75rem;
      flex: 0 0 auto;
      margin-right: 20px;
      @include mobile {
        width: 200px;
        height: 300px;
      }
      .card-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        opacity: 0;
        text-align: center;
        z-index: 1;
        width: 100%;
        color: #f4f4f4;
        @include mobile {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
        h3 {
          font-size: 3rem;
          margin: .25rem 0;
          @include mobile {
            font-size: 2rem;
          }
        }
      }
      &:hover .card-caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: all .3s ease-in-out;
      }
      .carousel-img {
        position: absolute;
        top: -0%;
        left: -50%;
        object-fit: cover;
        width: auto;
        height: 600px;
        z-index: 0;
        transition: all .3s ease-in-out;
        @include mobile {
          height: 300px;
        }
      }
      &:hover .carousel-img {
        transform: scale(1.05);
        transition: all .3s ease-in-out;
      }
    }
    .carousel-card:hover:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(5px);
    }
  }
  .carousel-controls {
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: 3;
    button {
      width: 50px;
      height: 50px;
      padding: 1rem;
      border-radius: 100%;
      border: none;
      cursor: pointer;
    }
    .prev {
      position: absolute;
      left: -3%;
      @include mobile {
        left: 0;
      }
    }
    .next {
      position: absolute;
      right: -3%;
      @include mobile {
        right: 0;
      }
    }
  }
  .carousel-indicator {
    margin-top: 2rem;
    height: 1px;
    background-color: #4f5284;
    position: relative;
    z-index: 2;
    .steps {
      height: 1px;
      width: 30%;
      background-color: #b5b8ea;
      position: relative;
      z-index: 5;
    }
  }
}

#skills {
  background-color: #060612;
  padding-top: 5rem;
  height: auto;
  padding-bottom: 3rem;
  overflow: hidden;
  .container {
    position: relative;
  }
  .skills-text {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    .badge {
      display: flex;
      margin: 0 auto;
      border: thin solid #6919FF;
      padding: .25rem 1rem;
      background-color: rgba($color: #100B30, $alpha: .15);
      border-radius: 1rem;
      color: #6919FF;
      font-weight: 600;
    }
    .text {
      width: 100%;
      h2 {
        color: #f4f4f4;
        text-align: center;
        font-size: 4rem;
        margin: 0;
      }
    }
    p {
      text-align: center;
      color: #f4f4f4;
      span {
        font-weight: 700;
      }
    }
  }

  .skills-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    .card {
      background-image: radial-gradient(circle at 50% 100%, #2e364f80 1%, transparent);
      color: #f4f4f4;
      padding: 2rem 4rem;
      border-top: thin solid #242135;
      border-left: thin solid #242135;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: left;
      flex-wrap: wrap;
      font-size: 1.5rem;
      text-align: center;

      &:nth-child(1) {
        grid-column: 1 / 3;
      }
      &:nth-child(2) {
        grid-column: 3 / 4;
      }
      &:nth-child(3) {
        grid-column: 1 / 2;
      }
      &:nth-child(4) {
        grid-column: 2 / 4;
      }
      @include mobile {
        &:nth-child(1) {
          grid-column: 1 / 1;
        }
        &:nth-child(2) {
          grid-column: 1 / 1;
        }
        &:nth-child(3) {
          grid-column: 1 / 1;
        }
        &:nth-child(4) {
          grid-column: 1 / 1;
        }
      }
    }
    h3 {
      font-size: 2.5rem;
      width: 100%;
      text-align: left;
      color: #6919FF;
      margin: .5rem 0;
    }
    p {
      font-size: 1.25rem;
      width: 100%;
      text-align: left;
    }
    .skill-list {
      ul {
        list-style: none;
        padding-left: 0;
        line-height: 1.45;
        li {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-weight: 300;
          
          span {
            margin-left: .5rem;
          }
        }
      }
    }
  }
}

#testimonials {
  background-color: #060612;
  padding-top: 5rem;
  height: auto;
  padding-bottom: 3rem;
  overflow: hidden;
  min-height: 100vh;
  .testimonials-text {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .badge {
      display: flex;
      margin: 0 auto;
      border: thin solid #6919FF;
      padding: .25rem 1rem;
      background-color: rgba($color: #100B30, $alpha: .15);
      border-radius: 1rem;
      color: #6919FF;
      font-weight: 600;
    }
    .text {
      width: 100%;
      h2 {
        color: #f4f4f4;
        text-align: center;
        font-size: 4rem;
        margin: 0;
        @include mobile {
          margin-top: 1rem;
          font-size: 2.5rem;
        }
      }
    }
    p {
      text-align: center;
      color: #f4f4f4;
      span {
        font-weight: 700;
      }
    }
  }
  .slider-block {
    margin-top: 5rem;
    @include mobile {
      margin-top: 0rem;
    }
  }
  .slider-container {
    position: relative;
    .slick-track {
      display: flex;
      & > div {
        margin: 0 .5rem;
      }
    }
    .slick-slider {
      button {
        width: 50px;
        height: 50px;
        padding: 1rem;
        border-radius: 100%;
        border: none;
        cursor: pointer;
      }
    }
    .slider-card {
      box-sizing: border-box;
      border-width: .5rem;
      border-color: #b0b3e4;
      background-image: radial-gradient(circle at 50% 100%, #2e364f80 1%, #060918);
      position: relative;
      width: 400px;
      height: 300px;
      border-radius: 1.5rem;
      display: flex!important;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0;
      @include mobile {
        width: 300px;
        height: auto;
      }
      .card-caption {
        blockquote {
          color: #b5b8ea;
        }
      }
      .author {
        display: flex;
        align-items: center;
        .avatar {
          min-width: 35px;
          height: 35px;
          background-color: #6919FF;
          border-radius: 100%;
          margin-right: 1rem;
        }
        padding: 0 1rem;
        p {
          color: #b5b8ea;
        }
      }
    }
  }
}

#contact {
  background-color: #060612;
  padding-top: 5rem;
  height: auto;
  padding-bottom: 3rem;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
    @include mobile {
      flex-wrap: wrap;
    }
  }
  .contact-text {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 50%;
    @include mobile {
      max-width: 100%;
      text-align: center;
    }
    .badge {
      display: inline;
      border: thin solid #6919FF;
      padding: .25rem 1rem;
      background-color: rgba($color: #100B30, $alpha: .15);
      border-radius: 1rem;
      color: #6919FF;
      font-weight: 600;
    }
    .text {
      margin-top: 1rem;
      width: 100%;
      h2 {
        color: #f4f4f4;
        text-align: left;
        font-size: 4rem;
        margin: 0;
        @include mobile {
          text-align: center;
          font-size: 2.5rem;
        }
      }
    }
    p {
      text-align: left;
      color: #f4f4f4;
      span {
        font-weight: 700;
      }
    }
  }
  .contact-form {
    width: 50%;
    margin-inline-start: 5rem;
    @include mobile {
      width: 100%;
      margin-inline-start: 0;
      margin: 0 1rem;
    }
    .input-wrapp > div {
      margin: 1rem 0;
    }
    label {
      color: #f4f4f4;
      font-size: 1rem;
    }
    input, textarea {
      caret-color: #6919ff;
      padding: 0.75rem;
      border-width: 1px;
      border-radius: 0.125rem;
      width: 100%;
      border-color: #2e2f41;
      box-sizing: border-box;
      background-color: #161A2C;
      color: #f4f4f4;
      margin-top: .25rem;
    }
    .action-contact {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include mobile {
        flex-wrap: wrap;
      }
    }
    .email-me {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      @include mobile {
        width: 100%;
        flex: auto;
        margin-bottom: 1rem;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #abab;
        svg {
          width: 25px;
          height: 25px;
        }
        span {
          margin-left: .5rem;
        }
        &:hover {
          color: #f4f4f4;
        }
      }
    }
    .submit-button {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      @include mobile {
        flex: auto;

      }
      button {
        width: auto;
        background-color: transparent;
        border: thin solid #f4f4f4;
        border-radius: 1.5rem;
        padding: .5rem 1rem;
        color: #f4f4f4;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        z-index: 3;
        color: #f4f4f4;
        svg {
          fill: #f4f4f4;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 400%;
          background-color: rgb(255, 255, 255);
          transform: rotate(-30deg);
          top: -120%;
          left: -120%;
          z-index: -1;
          animation: animate_clear 0.3s 1;
          transition: animation 1s ease-in-out;
        }
        svg {
          width: 25px;
          height: 25px;
          margin-left: .5rem;
        }
        &:hover::before {
          animation: animate 0.3s 1;
          top: -120%;
          left: 10%;
          transition: animation 1s ease-in-out;
        }
        @keyframes animate {
          from {
            top: -120%;
            left: -60%;
          }
          to {
            top: -120%;
            left: 10%;
          }
        }
        @keyframes animate_clear {
          from {
            top: -120%;
            left: 10%;
          }
          to {
            top: -120%;
            left: -120%;
          }
        }
      }
      .action--shine {
        background-color: transparent;
        position: relative;
      }
      button:hover {
        z-index: 3;
        color: #1E1F2B;
        svg {
          fill: #060612;
        }
      }
    }
    .status {
      color: #f4f4f4;
    }
  }
}

#source {
  background-color: #060612;
  padding-top: 0;
  height: auto;
  padding-bottom: 1rem;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-0%);
    width: 30%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    background-repeat: no-repeat;
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
    width: 30%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
    background-repeat: no-repeat;
  }
  .code-video {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5rem 0;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: inherit;
      background-image: none;
      object-fit: cover;
      transform: translate(-50%, -50%);
      z-index: 0;
      opacity: .2;
    }
  }
  .badge-wrapper {
    display: flex;
    margin-top: 5rem;
  }
  .badge {
    display: inline;
    border: thin solid #6919FF;
    padding: .25rem 1rem;
    background-color: rgba($color: #100B30, $alpha: .75);
    border-radius: 1rem;
    color: #6919FF;
    font-weight: 600;
    margin: 0 auto;
  }
  .contact-text {
    margin-top: 2.5rem;
  }
  .text {
    margin-top: 1rem;
    width: 100%;
    position: relative;
    z-index: 1;
    h2 {
      color: #f4f4f4;
      text-align: center;
      font-size: 3rem;
      margin: 0;
    }
  }
  p {
    text-align: center;
    color: #f4f4f4;
    span {
      font-weight: 700;
    }
  }
  .source-button {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 5rem;
    button {
      width: auto;
      background-color: transparent;
      border: thin solid #f4f4f4;
      border-radius: .25rem;
      padding: .5rem 1rem;
      color: #f4f4f4;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      z-index: 3;
      color: #f4f4f4;
      svg {
        fill: #f4f4f4;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 500%;
        background-color: rgb(255, 255, 255);
        transform: rotate(-30deg);
        top: -120%;
        left: -120%;
        z-index: -1;
        animation: animate_clear 0.3s 1;
        transition: animation 1s ease-in-out;
      }
      svg {
        width: 25px;
        height: 25px;
        margin-left: .5rem;
        g {
          fill: #f4f4f4;
        }
      }
      &:hover::before {
        animation: animate 0.3s 1;
        top: -120%;
        left: 15%;
        transition: animation 1s ease-in-out;
      }
      @keyframes animate {
        from {
          top: -120%;
          left: -60%;
        }
        to {
          top: -120%;
          left: 15%;
        }
      }
      @keyframes animate_clear {
        from {
          top: -120%;
          left: 15%;
        }
        to {
          top: -120%;
          left: -120%;
        }
      }
    }
    .action--shine {
      background-color: transparent;
      position: relative;
    }
    button:hover {
      z-index: 3;
      color: #1E1F2B;
      svg g {
        fill: #1E1F2B;
      }
    }
  }
}